<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Audio Processing Tool</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <header>
        <h1 id="title">Advanced Audio Analytics</h1>
        <h1 id="logo">TransPro.</h1>
    </header>
    <main>
        <h1>Welcome to the Intelligent Audio Processing tool.</h1>
        <p>This powerful application allows you to transcribe and translate audio files seamlessly. Simply upload your file and select your preferred action below.</p>
        <form action="/" method="post">
            <input type="submit" name="transcribe" value="Convert Speech to Text">
            <input type="submit" name="translate" value="Language Translation">
        </form>
    </main>

        
    <footer id="foot">
        <h2>Copyright © 2023 Datta. All rights reserved | Designed by Datta</h2>
    </footer>

</body>
</html>
